<h1>Articles</h1>

<%= link_to 'New Post', new_article_path %> <br>


<% @article.each do |article|%>
  <% unless article.published? %>
    <%= article.title %> <br>
    <%= article.content %> <br>
    <% if article.published? %>
      <span>Article</span>
    <% else %>
      <span >Draft</span>
    <% end %>
    <br>
    <%= link_to 'Show', article_path(article) %>
    <%= link_to 'Edit', edit_article_path(article) %>
    <%= link_to 'Delete', article_path(article), method: :delete, data: {confirm:"Are you sure?"} %> <br>
  <% end %>
<% end %>

