<div class="row">
  <div class="col-md-12">
    <div class="article_nav">
      <h3>
        <%= @article.title %>
        <a href="#comment" class="btn btn-md btn-primary pull-right">Comment</a>  
         <%= render partial: "shared/user_collect", locals: { article: @article } %>
      </h3>
    </div>
  
    <div class="col-md-12 article">
      <div class="col-md-2 user_index">
        <div class="user_profile">
          <%= image_tag @article.user.avatar, width: "100%", class: "img-responsive img-rounded" if @article.user.avatar? %>
          <p><%= link_to "#{@article.user.name}",posted_articles_user_path(@article.user) %></p> 
        </div>
        <div class="user_friend">
          <%= render partial: "shared/user_friend", locals: {user: @article.user} %>
        </div>
      </div> 
      <div class="col-md-10 user_article">
        <div class="tweets col-xs-12">
          <%= image_tag @article.image, width: "400px" if @article.image? %>
          <div class="article_content">
            <%= @article.content %>
          </div>
        </div>
        <div class="article_icon">
          <% if current_user == @article.user or current_user.role == 'admin' %>
            <%= link_to '', article_path(@article), method: :delete, data: {confirm:"Are you sure?"}, class: "far fa-trash-alt pull-right" %>
            <%= link_to '', edit_article_path(@article), class: "fas fa-pen-square pull-right " %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div id="comment">
      <% @article.comments.each do |comment| %>
      <div class="col-md-12 comment" id="<%= comment.id %>">
        <div class="col-md-2 user_index">
          <div class="user_profile">
            <%= image_tag comment.user.avatar, width: "100%", class: "img-responsive img-rounded" if comment.user.avatar? %>
            <p><%= link_to "#{comment.user.name}",posted_articles_user_path(comment.user) %></p> 
          </div>
          <div class="user_friend">
            <%= render partial: "shared/user_friend", locals: {user: comment.user} %>
          </div>
        </div> 
        <div class="col-md-10 user_comment ">
          <div class="tweets col-xs-9">
            <div class="article_content">
              <%= comment.content %>
            </div>
          </div>
          <div class="comment_icon">
            <% if current_user == comment.user or current_user.role = 'admin'%>
              <%= link_to '', edit_article_comment_path(id: comment.id, article_id: @article.id), class: "fas fa-pen-square" %>
              <%= link_to '', article_comment_path(id: comment.id, article_id: @article.id), method: :delete, data: {confirm:"Are you sure?"}, class: "far fa-trash-alt" %>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    
    <div class="container col-md-12 add_comment">
      <div class="row">
        <%= form_for [@article, @comment] do |f| %>
          <div class="form-group" >
            <div class="comment_input">
              <%= f.text_area :content, placeholder: "add comment", class: "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.submit "Submit", class: "btn btn-primary" %>
            <%= f.button "Cancel", type: :reset, class: "btn btn-default" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>



