<div class="container">
  <div class="row">
    <%= render partial: "shared/user_nav" %>
    <div class="col-md-10 col-md-offset-1">
      <div id="comment">
        <% @posted_comments.each do |comment| %>
        <div class="col-md-12 profile_comment " id="<%= comment.id %>" >
          <div class="col-md-12">
            <p>
              Post Title: <%= comment.article.title %>
            </p>
          </div> 
          <div class="col-md-6">
            <p class="tweets">
              <%= comment.content %>
            </p>
          </div>
          <div class="col-md-4">
            <div class="profile_comment_icon">
              <%= link_to '', edit_article_comment_path(id: comment.id, article_id: comment.article.id), class: "fas fa-pen-square" %>
              <%= link_to '', article_comment_path(id: comment.id, article_id: comment.article.id), method: :delete, data: {confirm:"Are you sure?"}, class: "far fa-trash-alt" %>
            </div>
          </div>
        </div>
        <% end %>
      </div>  
    </div>
  </div>
</div>
