<div class="container">
  <div class="row">
    <%= render partial: "shared/user_nav" %>

    <div class="col-md-10 col-md-offset-1">
      <table class="table table-striped">
        <tbody>
          <% @posted_articles.each do |article|%>
            <% if article.published? %>
            <tr>
              <td><%= article.title %></td>
              <td>
                <% if article.published? %>
                  <span>Article</span>
                <% else %>
                  <span >Draft</span>
                <% end %>
              </td>
            <td><%= article.updated_at %></td>
            <td>
              <% if current_user == article.user %>
                <i>
                  <%= link_to '', edit_article_path(article), class: "fas fa-pen-square" %>    
                </i>
                <i> 
                  <%= link_to '', article_path(article), method: :delete, data: {confirm:"Are you sure?"}, class: "far fa-trash-alt" %>
                </i>
              <% end %>
            </td>
          </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <%= link_to 'New Post', new_article_path, class: "btn btn-md btn-primary" %>
  </div>
</div>


