<table class="table table-striped">
  <thead>
    <tr>
      <th>Repliles count</th>
      <th>Title</th>
      <th>Last Replied at</th>
      <th>Viewed count</th>
    </tr>
  </thead>

  <tbody>
    <% @article.each do |article|%>
    <% if article.published? %>
      <tr>
        <td><%= article.comments.count %></td>
        <td><%= article.title %></td>
        <td><%= article.comments.last.created_at.strftime('%Y-%m-%d') %></td>
        <td><%= link_to '', article_path(article), class: "fas fa-eye"%></td>
        <!-- <td><%= article.categories.map(&:name).sort.join(", ") %></td> -->
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

