<div class="container_article">
<table class="sortable table table-striped">
  <thead>
    <tr>
      <th width="15%" ><%= sort_link(@q, :comments_count, 'Replilies count', default_order: :desc)%></th>
      <th width="35%">Title</th>
      <th width="30%"><%= sort_link(@q, :comments_created_at, 'Last replied at', default_order: :desc)%></th>
      <th width="9%"><%= sort_link(@q, :views_count, 'View count', default_order: :desc)%></th>
    </tr>
  </thead>
  <tbody>
    <% @article.each do |article|%>
    <% if article.published? %>
      <tr>
        <td><p><%= article.comments_count %></p></td>
        <td><%= article.title %></td>
        <td><%= article.comments.last.created_at.strftime('%Y-%m-%d') if article.comments.last.present? %></td>
        <td><%= link_to '', article_path(article), class: "fas fa-eye"%> <%= article.views_count %></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
</div>